* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: 1px red solid;*/
    /*background-color: #03233A;*/
    -webkit-font-smoothing: antialiased;
}

html,
body {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: 100%;
    color: #FFFAFF;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #031725;
}

.main {
    flex: 1 1 auto;
}

[class*="_container"] {
    max-width: 1080px;
    margin: 0px auto;
    padding: 0 1px;
}

/*PC*/
@media (max-width: 1080px) {
    [class*="_container"] {
        max-width: 970px;
    }
}

/*TABLET*/
@media (max-width: 992px) {
    [class*="_container"] {
        max-width: 750px;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    [class*="_container"] {
        max-width: none;
    }
}

/*header*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #031725;
}

.header_container {
    display: flex;
    min-height: 161px;
    align-items: center;
}

.header_menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
}

.menu-group {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 18px;
}

.menu-item:hover {
    color: #FFE900;
    text-decoration: underline;
}

.menu-item {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    line-height: 20.68px;
    display: inline-block;
    flex-direction: row;
    color: #FFFAFF;
}

.portfolio, .stage {
    margin-right: 24px;
}

.about_us {
    margin-left: 32px;
}

.header_social {
    height: 35px;
    display: flex;
    justify-content: end;
    padding: 0 0 0 71px;
    text-decoration: none;
}

.header_tg {
    height: 40px;
    width: 40px;
    background: url(../img/icon_sprite.svg);
    background-position: 8px 0px;
    background-repeat: no-repeat;
}

.header_tg:hover{
    background-position: -49px 0px;
}

.header_inst{
    height: 40px;
    width: 40px;
    background: url(../img/icon_sprite.svg);
    background-position: 8px -52px;
    background-repeat: no-repeat;
}

.header_inst:hover{
    background-position: -48px -51px;
}

/*1 стр ОБЛОЖКА*/
.get-started_container {
    display: flex;
    align-items: center;
    padding: 177px 0 0px 0;
}

.get-started_content{
    flex: 0 1 50%;
}

.get-started_block-text{
    max-width: 421px;
}

.block-text_title{
    font-weight: 500;
    font-size: 66px;
    line-height: 75.83px;
}

.block-text_title_yellow span {
    color: #FFE900;
}

.block-text_text{
    font-weight: 300;
    font-size: 25px;
    line-height: 28.73px;
    padding: 50px 0 0 0; 
}

.block-text-button {
    margin: 68px 0 0 0;
}

[class*="_button"] {
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    color: #03233A;
    padding: 20px 60px;
    background-color: #FFE900;
    border-radius: 30px;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

[class*="_button"]:hover{
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    color: #FFE900;
    padding: 20px 60px;
    background-color:  #031725;
    border-radius: 30px;
    border: 1px #FFE900 solid ;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.get-started_img{
    flex: 0 1 50%;
}

.img_team {
    padding: 0 0 0 191px;
}


/*Лампа 2 страница*/
.discription-lamp_container{
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    position: relative;
}

.discription-lamp_container::before{
    content: "";
    position: absolute;
    width: 1370px;
    height: 575px;
    right: 0;
    top: 0;
    transform: translate(790px, 150px);
    border-radius: 30px 0 0 30px;
    background-color: #FFE900;
}

.discription-lamp_content{
    flex: 0 1 50%;
}

.lamp-img {
    display: flex;
    position: relative;
    flex: 0 1 50%;
    min-width: 704px;
    min-height: 693px;
    transform: translate(-135px, 0px);
}

.lamp-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Ubuntu;
    font-weight: 500;
    line-height: 46px;
    font-size: 40px;
    transform: translate(0px, 385px);
    z-index: 2;
}

.text_content {
    display: block;
    position: relative;
    flex: 0 1 50%;
}

.discription-content {
    flex: 0 1 50%;
}

.text_content {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    font-weight: 500;
    color: #1E2019;
    line-height: 40px;
    font-size: 35px;
    z-index: 2;
    width: 538px;
    transform: translate(-206px, 69px);
}

.text_content span {
    font-weight: 300;
    line-height: 29px;
    font-size: 25px;
    margin: 15px 0 0 0;
}

.text_visual{
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    font-weight: 500;
    color: #1E2019;
    line-height: 40px;
    font-size: 35px;
    z-index: 2;
    margin: 60px 0 0 45px;
}

.text_structur {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    font-weight: 500;
    color: #1E2019;
    line-height: 40px;
    font-size: 35px;
    z-index: 2;
    margin: 20px 0 0 45px;
}

.text_text {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    font-weight: 500;
    color: #1E2019;
    line-height: 40px;
    font-size: 35px;
    z-index: 2;
    margin: 20px 0 0 45px;
}


/*landing*/
.section_landing-container {
    display: flex;
    flex: 1 1 100%;
}

.discription-landing {
    max-width: 1210px;
    font-family: Ubuntu;
    font-weight: 500;
    line-height: 40px;
    font-size: 35px;
    text-align:center;
    margin: 100px 0 0 0px;
    text-transform: uppercase;
}


/*Этапы работы 3 страница*/
.section_stages{
    margin: 182px 0 0 0;
}

.stages_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stages_yellow{
    font-weight: 500;
    line-height: 30px;
    font-size: 45px;
    color: #FFE900;
    margin: 0px 0px 60px 0px;
}

.stages_content{
    display: flex;
    flex-direction: row;
    margin: 0 0 25px 0px;
}

.stage-img{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

.img_project{
    margin: 65px 40px 0 0;
}

.img-prototype{
    margin: 100px 40px 0 0;
}

.img-design{
    margin: 135px 40px 0 0;
}

.img-site{
    margin: 145px 40px 0 0;
}

.stages_text{
    font-weight: 500;
    line-height: 40px;
    font-size: 35px;
}

[class*="_list"] {
    font-weight: 300;
    line-height: 30px;
    font-size: 25px;
    margin: 20px 0 51px 23px;
    max-width: 725px;
}

.stage-button{
    align-items: center;
    margin: 0 274px 0 0;
}


/*Портфолио 4 cтр */

.section_portfolio{
    margin: 180px 0 0 0;
}

.portfolio_container{
    display: flex;
    flex-direction: column;
}

.portfolio_yellow{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    line-height: 30px;
    font-size: 45px;
    color: #FFE900;
    margin: 0 0 74px 0;
}

.portfolio_menu{
    list-style-type: none;
    font-weight: 500;
    font-size: 35px ;
    line-height: 40px;
}

[class*="-portfolio"]::after{
    display: flex;
    flex-direction: column;
    max-width: 1079px;
    content: '';
    height: 1px;
    display: block;
    background:#FFFAFF;
    margin: 45px 0;
}

[class*="plus-"]::before {
    content: '';
    display: inline-block;
    justify-content: flex-end;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    background: url(../img/plus.svg) no-repeat 0 0;
}

.plus-underwear{
    margin: 0 0 0 249px;
}

.plus-smartfone{
    margin: 0 0 0 288px;
}

.plus-beauty{
    margin: 0 0 0 602px;
}

.plus-serf{
    margin: 0 0 0 512px;
}

.plus-barber{
    margin: 0 0 0 696px;
}

/*Цены 5 стр*/

.section_price{
    margin: 180px 0 0 0;
}

.price_container{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.price_yellow{
    font-weight: 400;
    line-height: 30px;
    font-size: 45px;
    color: #FFE900;
    margin: 0px 0px 101px 0;
}

.price-content{
    display: flex;
    flex-direction: row;
    flex: 0 1 50%;
}

.square-img{
    display: flex;
    position: relative;
    flex: 0 1 50%;
}

.square_big {
    min-width: 558px;
    min-height: 663px;
    transform: translate(37px, 0px);
}

.price-img {
    z-index: 1;
    transform: translate(-38px, -25px);
}

.landing-text_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    transform: translate(90px, -600px);
    z-index: 2;
    font-weight: 500;
    font-size: 35px;
}

.landing-text_list {
    margin: 35px 0 55px 65px;
}

.time_price{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    width: 409px;
}

.time{
    margin: 10px 0 0 0;
}

.l_price{
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}

.landing-button{
    align-items: center;
    margin: 100px 0px 0px 130px;
}

.square-img_s {
    display: flex;
    position: relative;
    flex: 0 1 50%;
}

.square_small{
    min-width: 651px;
    min-height: 527px;
    transform: translate(-36px, 0px);
}

.price-img_web{
    z-index: 1;
    transform: translate(50px, 430px);
}

.web-text_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    transform: translate(135px, -463px);
    z-index: 2;
    font-weight: 500;
    font-size: 35px;
}

.web-price{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    width: 421px;
    margin: 0px 52px 0px 0px;
}

.web_price{
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}

/*.web-design{
margin: 0 0 17px 0;
}*/

.web-time {
    margin: 10px 0 17px 0;

}

.web-design-button{
    margin: 100px 0px 0px 175px;
}

.ps {
    display: flex;
    width: 432px;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    transform: translate(150px, 165px);
}

.ps-icon{
    margin: -12px 3px 0 0;
}

/*6 стр (Команда)*/
.section_team {
    margin: 180px 0 0 0;
}
.team_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team_yellow {
    font-weight: 500;
    line-height: 30px;
    font-size: 45px;
    color: #FFE900;
    margin: 0px 0px 75px 0px;
}
.team_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.figure{
    width: 246px;
    height: 246px;
    background: #7C7C7C;
    border-radius: 20px 20px 92px 0px;
}
.team_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: #FFFAFF;
}

.team_description span{
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
}

/*7 стр (Контакты)*/
.contacts_yellow{
    /*align-items: center;*/
    font-weight: 500;
    line-height: 30px;
    font-size: 45px;
    color: #FFE900;
    margin: 0px 0px 75px 0px;
}
.section_contacts{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;*/
    margin: 180px 0 0 0;
}
.form_figure{
    display: flex;
    flex-direction: row;
    height: 804px;
    background: #FDE700;
    border-radius: 50px 50px 390px 0px;
}
.form_input{
    width: 472px;
    height: 51px;
    background: #03233A;
    border-radius: 15px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFEFE;

    padding-left: 15px;
}
#project_description{
    padding-top: 10px;
}
.contacts_container label{ /*текст лэйблов*/
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    padding-left: 20px;
        /*margin: 20px 0px 15px 20px;*/
    color: #03233A;
}
[class*="_form_text"] {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #03233A;
}
.contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form_figure{           /**/
    padding: 62px 0px 79px 72px;
}
.checkbox{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
}
#checkbox{
    transform:scale(1.6);
    opacity:0.9;
    cursor:pointer;
}
.i_agree{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.form-button{
margin: 0 0 145px 0;
}

.form_button{
    font-family: Ubuntu;
    border-width: 0px;
    cursor:pointer;
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    color: #FFE900;
    padding: 17px 90px;
    background-color: #03233A;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.form_button:hover{
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    padding: 17px 90px;
    color: #03233A;
    background-color: #FFE900;
    border: 1px #03233A solid;
}


.figure_social {            /*Иконки соц-сетей*/
    display: flex;
    /*height: 40px;
    justify-content:baseline;
    padding: 0 0 0 71px;
    text-decoration: none;*/
}
.contacts_tg {
    height: 40px;
    width: 40px;
    background: url(../img/icon_sprite.svg);
    background-position: 8px -112px;
    background-repeat: no-repeat;
}
.contacts_tg:hover{
    background-position: -49px -112px;
}
.contacts_inst{
    height: 40px;
    width: 40px;
    background: url(../img/icon_sprite.svg);
    background-position: 8px -171px;
    background-repeat: no-repeat;
}
.contacts_inst:hover{
    background-position: -49px -171px;
}
.left_side{
    width: 60%;
}
.right_side{
    width: 40%;
}
.form_girl{
    /*display: flex;*/
    height: 100%;
    width: 100%;

    /*background-image: url(../img/form_girl.svg);*/
    background-repeat: no-repeat;
    transform: translate(0 0);
    /*background-position: 0px 0px;
    overflow: visible;*/
}

/*footer*/

.footer{
    width: 100%;
    top: 0;
    left: 0;
    margin: 180px 0 0 0;
}

.footer_container {
  display: flex;
  min-height: 172px;
  align-items: center;
}

.footer-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.footer_menu{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin: 0px 0px 0px 91px;
}

.two-footer_block{
    margin: 0 123px;
}

[class*="footer_block"]{
    list-style-type: none;
}

[class*="footer-item"]{
    text-decoration: none;
    color: #FFFAFF;
}

.footer-item:hover {
    color: #FFE900;
    text-decoration: underline;
}


.footer_social {
    height: 35px;
    display: flex;
    justify-content: end;
    padding: 0 0 0 261px;
    text-decoration: none;
}

.footer_tg {
    height: 40px;
    width: 40px;
    background: url(../img/icon_sprite.svg);
    background-position: 8px 0px;
    background-repeat: no-repeat;
}

.footer_tg:hover {
    background-position: -49px 0px;
}

.footer_inst{
    height: 40px;
    width: 40px;
    background: url(../img/icon_sprite.svg);
    background-position: 8px -52px;
    background-repeat: no-repeat;
}

.footer_inst:hover{
    background-position: -48px -51px;
}

.main + .footer::before{
    content: '';
    height: 1px;
    display: block;
    background: #FFE900;
    margin: 8px 0;
}


